/* CSS Document */
/* Generic styling */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font: 100% / 250% "Nunito sans";
}

body {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Neuton', serif;
  font-size: 45px;
  font-weight: 200;
}

h2 {
  font-family: 'Nunito sans', serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 17px;
}

h3 {
  font-family: 'Nunito sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: 'Nunito sans', sans-serif;
  font-size: 14px;
}

header {
  order: 2;
  background-color: green;
}

header img {
  width: 50%;
  padding: 1em;
}

header nav ul {
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  display: flex;
}


li {
  font-family: 'Nunito sans', sans-serif;
  font-size: 12px;
  list-style-type: none;
  text-transform: uppercase;
}

a {
  font-family: 'Nunito sans', sans-serif;
  font-size: 12px;
}

a:link {
  font-family: 'Nunito sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

a:visited {}

a:hover, a:focus {}

a:active {}

button {
  border-radius: 22px;
  text-align: center;
  font-family: 'Nunito sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background: #000000;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  justify-content: space-around;
}

main {

}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  align-items: baseline;
  align-content: center;
  width: 100vw;
}

article {
  width: 45%;
}



section>section img {
  width: 100%;
}

section>article {}

aside {}

footer {}


/* Breakpoints */
@media all and (min-width: 30em) {}

@media all and (min-width: 60em) {}

@media all and (min-width: 90em) {}
