/* CSS Document */
/* Generic styling */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font: 100% / 250% "Nunito sans";
}

body {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
}

header {
  order: 1;
}

nav ul li:first-of-type img {
  width: 80%;
}

header>nav ul li img {
  width: 1em;
  justify-content: space-around;
}

header>nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

header>nav ul section {
  display: flex;
}

header>nav ul li {
  margin-right: 1em;
}

nav {
  padding: .4em;
}

img {
  display: block;
  width: 100%;
  height: auto;
  justify-content: space-around;
}

img.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  justify-content: space-around;
  display: block;
  transition: .5s ease;
  opacity: 0;
}

img.overlay:hover {
  opacity:1;
}

h1 {
  font-family: 'Neuton', serif;
  font-size: 39px;
  font-weight: 200;
  text-align: center;
}

h2 {
  font-family: 'Neuton', serif;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

h3 {
  font-family: 'Nunito sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-family: 'Nunito sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h5 {
  font-family: 'Nunito sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

p {
  font-family: 'Nunito sans', sans-serif;
  font-size: 13px;
  text-align: left;
  font-weight: 300;
}





main.homepage > section:first-of-type{
  display: block;
}

main.homepage > section:first-of-type > article {
  width: 100%;
  position: relative;
}

main.homepage > section:first-of-type > article > img{
  height: 50vh;
  object-fit: cover;
}

main.homepage > section:first-of-type > article > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  display: block;
}


article > div {
  display: flex;
}

article section > div {
  display: flex;
  justify-content: space-between;
}

article > section {
  padding: 0em 1em;
}

article section>div img {
  width: .8em;
  margin-left: 4em;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  align-content: center;
  width: 100%;
}

article {
  width: 48%;
  position: relative;
}

/*section:first-of-type li img{
  width: 5em;
}*/

section>section img {
  width: 100%;
}

section:first-of-type article p {
  text-transform: uppercase;
  line-height: 1.4;
}

section:first-of-type h4 p {}

section:nth-of-type(2) {
  padding: 4em;
}

section:nth-of-type(2) h2, section:nth-of-type(2) p {
  width: 100%;
  text-align: center;
}

main > section:nth-of-type(3) {
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 2em 0em 0em;
}

section:nth-of-type(3) img {
  max-width: 65%;
  max-height: 65%;
  margin-top: 1em;
  margin-left: 1em;
}

section:nth-of-type(3) article {
  width: 50%;
  line-height: 1.3;
  margin-bottom: 10px;
}

section:nth-of-type(4) {
  width: 100%;
  display: flex;
  padding: 0em;
  justify-content: space-around;
}

section:nth-of-type(4) img {
  width: 1.5em;
  margin: 1.5em 1.5em 1.5em 1.5em;
}

section:nth-of-type(5) {
  width: 100%;
  display: flex;
  padding: 0em 2em 2em 2em;
  justify-content: space-around;
}

section:nth-of-type(5) img {
  width: 3em;
  margin: 2em 0em 0em 0em;
}

footer {
  background-color: #000000;
}

footer section img {
  width: 25%;
  margin: auto;
  display: block;
  padding: 1.5em 1em 1em 1em;
}

footer section:nth-of-type(1) img {
  width: 20%;
  padding: 1em;
}

footer section:nth-of-type(2) img {
  width: 25%;
  padding: 1em;
}

footer section:nth-of-type(1), footer section:nth-of-type(2) {
  background-color: white;
  padding: 1em;
  margin: 0;
  border: none;
}

footer section:nth-of-type(3) img {
  width: 40%;
  margin: auto;
  display: block;
  padding: 1.5em 1em 1em 1em;
}

footer section:nth-of-type(4) img {
  width: 10%;
  justify-content: space-between;
  display: flex;
  padding: 0em 0em 0em 0em;
  margin: 3em .5em 2em .5em;
}

footer section p {
  font-family: 'Nunito sans', sans-serif;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  line-height: 2.5;
  border-bottom: 1px solid #ffffff;
  margin-left: 8em;
  width: 45%;
  padding: 0em 0em 1em 0em;
}

footer section h2 {
  color: #ffffff;
  font-family: 'Nunito sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-left: 2em;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  width: 80%;
  padding: 1em 0em 1em 0em;
}

/* Breakpoints */
@media all and (min-width: 30em) {}

@media all and (min-width: 60em) {}

@media all and (min-width: 90em) {}
